export("binaryChoice")
export( "heckit" )
export( "heckit2fit" )
export( "heckit5fit" )
export( "heckitVcov" )
export( "invMillsRatio" )
export( "probit" )
export( "selection" )
export( "tobit2fit" )
export( "tobit2Bfit" )
export( "tobit5fit" )
export( "linearPredictors" )

import( "maxLik" )

importFrom( "Formula", "as.Formula" )
importFrom( "miscTools", "coefTable" )
importFrom( "miscTools", "nObs" )
importFrom( "stats", "nobs" )
importFrom( "systemfit", "systemfit" )

S3method( "coef", "selection" )
S3method( "coef", "summary.selection" )
S3method( "fitted", "probit" )
S3method( "fitted", "selection" )
S3method( "linearPredictors", "probit" )
S3method( "logLik", "probit" )
S3method( "logLik", "selection" )
S3method( "model.frame", "binaryChoice" )
S3method( "model.frame", "selection" )
S3method( "model.matrix", "binaryChoice" )
S3method( "model.matrix", "selection" )
S3method( "nobs", "probit" )
S3method( "nObs", "probit" )
S3method( "nobs", "selection" )
S3method( "nObs", "selection" )
S3method( "predict", "probit" )
S3method( "predict", "selection" )
S3method( "print", "coef.selection" )
S3method( "print", "probit" )
S3method( "print", "selection" )
S3method( "print", "summary.probit" )
S3method( "print", "summary.selection" )
S3method( "residuals", "probit" )
S3method( "residuals", "selection" )
S3method( "summary", "probit" )
S3method( "summary", "selection" )
S3method( "vcov", "selection" )
